{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<br>

<h1>Michael Xuan Blog </h1>

<br>


<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to my personal Blog. This is just a simple test for how flask (python web development framework)
                works. I will be doing it as my web development study and demo for future use.</p>
            
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to Posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>

{% endblock %}